@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
    background-color: #000;
    margin: 0;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 20px;
}

svg {
    display: block;
    margin: auto;
    margin-top: 40px;
}

.wrapper {
    display: block;
    width: 80%;
    margin: auto;
}

p {
    width: 80%;
    margin: auto;
    text-align: justify;
}

p::first-letter {
    font-size: 200%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

button {
    border: none;
    border-radius: 1000px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #f00;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

button::after {
    content: attr(data-end);
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 426px) {
    svg {
        width: 50%;
    }

    p {
        width: 50%;
    }

    .wrapper {
        width: 50%;
    }

    svg {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1025px) {
    p {
        width: 40%;
        text-align: center;
    }

    .wrapper {
        width: 40%;
    }
}